---
import AboutContent from "../components/AboutContent.astro";
import Art from "../components/Art.astro";
import Card from "../components/Card.astro";
import Cover from "../components/Cover.astro";
import Navigation from "../components/Navigation.astro";
import Quote from "../components/Quote.astro";
import Sport from "../components/Sport.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | UKOS FTI UNAND">
  <div class="md:flex gap-[2px] md:h-[70vh] mx-auto">
    <div class="rounded-[10px] h-[60vh] md:h-full md:w-[55%]">
      <Card style="bg-white" classes="h-full relative">
        <Cover>
          <div class="h-3/4 items-center flex justify-center" slot="header">
            <h1
              class="font-mono text-main text-8xl sm:text-8xl flex items-center justify-center"
            >
              About
            </h1>
          </div>

          <div slot="description">
            <p
              class="text-xs sm:text-xl font-extrabold text-main capitalize flex"
            >
              Everyone Likes Something Different. So, Explore The World Through
              The Lens Of Our Visual Capabilities, And Find What You Love.
            </p>
          </div>
        </Cover>
      </Card>
    </div>

    <div class="rounded-[10px] h-[70vh] mt-[2px] md:mt-0 md:w-[45%]">
      <Navigation />
    </div>
  </div>
  <AboutContent />
</Layout>
