---
import AboutContent from "../components/AboutContent.astro";
import Art from "../components/Art.astro";
import Card from "../components/Card.astro";
import Cover from "../components/Cover.astro";
import Navigation from "../components/Navigation.astro";
import Quote from "../components/Quote.astro";
import Sport from "../components/Sport.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="About | UKOS FTI UNAND">
  <div class="flex gap-[2px] h-[70vh]">
    <Card classes="w-[55%] bg-white">
      <Cover>
        <div class="h-3/4 items-center flex justify-center" slot="header">
          <h1
            class="font-mono text-main text-8xl flex items-center justify-center"
          >
            About
          </h1>
        </div>
        <div slot="description">
          <p
            class="relative text-base font-extrabold text-main capitalize flex"
          >
            Everyone Likes Something Different. So, Explore The World Through
            The Lens Of Our Visual Capabilities, And Find What You Love.
          </p>
        </div>
      </Cover>
    </Card>
    <div class="rounded-[10px] w-[45%]">
      <Navigation />
    </div>
  </div>
  <AboutContent />
</Layout>
