---
import Art from "../components/Art.astro";
import Card from "../components/Card.astro";
import Cover from "../components/Cover.astro";
import Link from "../components/Link.astro";
import Navigation from "../components/Navigation.astro";
import Quote from "../components/Quote.astro";
import Sport from "../components/Sport.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="UKOS FTI UNAND">
  <main class="max-w-[85%] mx-auto px-[2em] py-[1em] w-full">
    <div class="flex gap-[2px] h-[70vh]">
      <Card classes="w-[55%] bg-white">
        <Cover />
      </Card>
      <div class="rounded-[10px] w-[45%]">
        <Navigation />
      </div>
    </div>
    <div class="flex mt-[2px] gap-[2px] h-[30vh]">
      <div class="z-10 w-[55%] flex gap-[2px]">
        <Art />
        <Sport />
      </div>
      <Card style="bg-white" classes=" rounded-[10px] w-[45%] p-5 relative">
        <Quote />
      </Card>
    </div>
  </main>
</Layout>
