---
import Card from "../components/Card.astro";
import Cover from "../components/Cover.astro";
import Navigation from "../components/Navigation.astro";
import Quote from "../components/Quote.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="UKOS FTI UNAND">
  <main class="max-w-[85%] mx-auto px-[2em] py-[1em] w-full">
    <div class="flex gap-[2px] h-[70vh]">
      <Card style="bg-white" classes="w-[55%] " bordered>
        <Cover />
      </Card>
      <div class="rounded-[10px] w-[45%]">
        <Navigation />
      </div>
    </div>
    <div class="flex mt-[2px] gap-[2px] h-[30vh]">
      <div class="w-[55%] flex gap-[2px]">
        <div class="bg-slate-300 rounded-[10px] w-1/2">
          1 + 1 = {1 + 1}
        </div>
        <div class="bg-slate-600 rounded-[10px] w-1/2">
          1 + 1 = {1 + 1}
        </div>
      </div>
      <Card style="bg-white" bordered classes=" rounded-[10px] w-[45%] p-5">
        <Quote />
      </Card>
    </div>
  </main>
</Layout>
