---
import Cover from "../components/Cover.astro";
import Navigation from "../components/Navigation.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout title="Welcome to Astro.">
  <main class="max-w-[85%] mx-auto px-[2em] py-[1em] w-full">
    <div class="flex gap-[1px] h-[70vh]">
      <div class="bg-white w-[55%] rounded-[10px]">
        <Cover />
      </div>
      <div class="rounded-[10px] w-[45%]">
        <Navigation />
      </div>
    </div>
    <div class="flex mt-[1px] gap-[1px] h-[30vh]">
      <div class="w-[55%] flex">
        <div class="bg-slate-300 rounded-[10px] w-1/2">
          1 + 1 = {1 + 1}
        </div>
        <div class="bg-slate-600 rounded-[10px] w-1/2">
          1 + 1 = {1 + 1}
        </div>
      </div>
      <div class="bg-white rounded-[10px] w-[45%]"></div>
    </div>
  </main>
</Layout>
