---
import Card from "./Card.astro";
---

<div class="md:flex mt-[2px] gap-[2px] md:h-[95vh]">
  <Card style="bg-white" classes=" p-5 h-[40%] md:hidden flex items-center">
    <img src="/logo.svg" alt="logo" width="100" />
    <div class="ml-5">
      <h3 class="text-main text-2xl font-mono uppercase">
        unit kegiatan olahraga dan seni
      </h3>
      <div class="w-full h-[1px] bg-main mx-auto"></div>

      <p class="text-main capitalize text-sm mt-5">
        fakultas teknologi informasi<br /> universitas andalas
      </p>
    </div>
  </Card>
  <Card
    style="bg-secondary"
    classes="md:w-[55%] mt-[2px] md:mt-0 h-full p-[1em] text-main"
  >
    <h3 class="text-xl capitalize font-semibold">latar belakang</h3>
    <div class="w-full h-[1px] bg-main mx-auto"></div>
    <div class="mt-[1em] text-sm flex flex-col justify-between gap-4">
      <p>
        Mahasiswa mempunyai fungsi dan sifat yang khas dalam masyarakat sehingga
        menempati posisi yang sangat strategis. Karena sifat yang khas itulah
        mahasiswa dituntut mempunyai kreatifitas yang baik untuk melanjutkan
        cita-cita bangsa. Kreatifitas yang baik dapat dilatih dengan terbiasa
        bersatu dengan olahraga dan seni. Sebagai insan yang berteknologi,
        pengembangan kreatifitas ini tidak hanya terbatas pada bidang computer
        itu sendiri, tetapi juga merambah kebagian-bagian pendukung terciptanya
        sebuah kesuksesan manusia, salah satunya dengan olahraga dan seni.
      </p>
      <p>
        Lulusan perguruan tinggi dituntut untuk memiliki <em class="font-bold">
          academic knowledge, skill of thiking, management skill, dan
          communication skill.
        </em> Kekurangan salah satu dari yang emat kemahiran tersebut menyebabkan
        berkurangnya kualitas dari lulusan perguruan tinggi. Diiringi dengan olahraga
        dan senilah kekurangan-kekurangan tersebut dapat dipenuhi. Sinergisme akan
        tercermin melalui kemampuan lulusan dalam kecepatan menemukan solusi atas
        persoalan-persoalan dan tantangan yang dihadapi. Kemampuan berfikir dan bertindak
        kreatif pada hakekatnya dapat dilakukan oleh setiap manusia apalagi yang
        menikmati pendidikan tinggi. Kreatifitas adalah jelmaan dari tiga faktor
        utama dalam diri manusia, yaitu pikiran, perasaan dan keterampilan. Dalam
        faktor pikiran terdapat imajinasi, persepsi dan nalar. Factor perasaan terdiri
        dari emosi, estetika dan harmonisasi. Sedangkan faktor keterampilan mengandung
        bakat dan pengalaman.
      </p>

      <p>
        Mahasiswa Fakultas Teknologi Informasi Universitas Andalas juga memiliki
        minat dan bakat dalam bidang seni dan olahraga. Mereka mempunyai
        ketertarikan dan tentunya imajinasi yang sangat diperlukan untuk
        pengembangan bakatnya tersebut. Namun keterampilan mereka kurang terasah
        karena belum adanya wadah untuk mengembangkan diri, ditambah lagi tidak
        seimbangnya antara teori dan praktek yang didapatkan mahasiswa dalam
        proses perkuliahan.
      </p>
    </div>
  </Card>
  <div class="md:w-[45%] mt-[2px] md:mt-0 h-full flex flex-col gap-[2px]">
    <Card style="bg-white" classes=" p-5 h-[40%] hidden md:flex items-center">
      <img src="/logo.svg" alt="logo" width="200" />
      <div class="ml-5">
        <h3 class="text-main text-2xl font-mono uppercase">
          unit kegiatan olahraga dan seni
        </h3>
        <div class="w-full h-[1px] bg-main mx-auto"></div>

        <p class="text-main capitalize text-sm mt-5">
          fakultas teknologi informasi<br /> universitas andalas
        </p>
      </div>
    </Card>
    <Card style="bg-primary" classes="p-5  text-main h-[20%] ">
      <h3 class="text-xl capitalize font-semibold">visi</h3>
      <div class="w-full h-[1px] bg-main mx-auto"></div>
      <h3 class="text-lg text-center capitalize mt-[1em]">
        Mewujudkan UKMF yang berkualitas dan kompetitif
      </h3>
    </Card>
    <Card style="bg-white" classes="h-[40%] p-5 text-main">
      <h3 class="text-xl capitalize font-semibold">misi</h3>
      <div class="w-full h-[1px] bg-main mx-auto"></div>
      <ul class="list-disc pl-5 text-sm mt-[1em]">
        <li>Membuat FTI satu dibawah nauangan olahraga dan Seni</li>
        <li>
          Mewadahi dan menyalurkan bakat dan kreatifitas mahasiswa FTI dalam
          bidang olahraga dan seni
        </li>
        <li>Menciptakan FTI sehat dan berjiwa</li>
        <li>
          Menjalin dan menjaga silaturahmi dengan UKMF olahraga dan seni yang
          berada di Universitas
        </li>
        <li>
          Mengharumkan dan menjaga nama baik FTI dibidang olahraga dan seni
        </li>
      </ul>
    </Card>
  </div>
</div>
