---
export interface Props {
  style?: "bg-primary" | "bg-main" | "bg-accents" | "bg-secondary" | "bg-white";
  classes?: string;
}

const { style, classes } = Astro.props as Props;
---

<div
  class:list={[
    style,
    classes,
    "hover:z-10 rounded-[10px] hover:shadow-xl hover:scale-105 hover:border-2 hover:border-main transition-transform ease-out duration-300",
  ]}
>
  <slot />
</div>
