---
export interface Props {
  style?: "bg-primary" | "bg-main" | "bg-accents" | "bg-white";
  classes?: string;
  bordered?: boolean;
}

const { style, classes, bordered = false } = Astro.props as Props;
---

<div
  class:list={[
    style,
    classes,
    { "hover:border-main": bordered },
    "hover:z-10 rounded-[10px] hover:shadow-xl hover:scale-105 hover:border-2 hover:border-white transition-transform ease-out duration-300",
  ]}
>
  <slot />
</div>
