---
---

<div class="p-[2em] h-full">
  <div></div>
  <div class="flex justify-center items-center h-2/3">
    <h1 class="font-mono text-main text-8xl flex">
      UK<span class="text-extrabold text-primary">
        <img src="/logo.svg " alt="Logo" width="90" /></span
      >S
    </h1>
  </div>
  <div class="w-full h-[1px] bg-accents mx-auto"></div>
  <div class="flex items-center pt-[1em]">
    <h2 class="text-2xl font-extrabold text-main capitalize">
      Faculty of Information Technology <br /> Andalas university
    </h2>
  </div>
</div>
