---
import { Image } from "@astrojs/image/components";
import img1 from "../images/1.jpeg";
import img2 from "../images/2.jpeg";
import img3 from "../images/3.jpeg";

const navItem = [
  { name: "about", link: "#" },
  { name: "caretaker", link: "#" },
  { name: "contact", link: "#" },
  { name: "blog", link: "#" },
];
---

<div class="flex gap-[1px] h-1/2 rounded-[15px]">
  <div class="w-[200px] bg-slate-300 rounded-[15px]">
    <Image
      src={img2}
      alt="1"
      width={200}
      aspectRatio={1 / 1}
      class="rounded-[15px] h-full object-cover"
    />
  </div>
  <div class="w-1/2 bg-black rounded-[15px] p-5 flex flex-col justify-between">
    <ul class="capitalize text-slate-100 font-medium">
      {
        navItem.map(({ name, link }) => {
          return (
            <li>
              <a href={link}>{name}</a>
            </li>
          );
        })
      }
    </ul>
    <h3 class="text-slate-300 capitalize font-semibold text-sm">
      did you find somethings?
    </h3>
  </div>
</div>
<div class="flex mt-[1px] gap-[1px] h-1/2 pb-[1px]">
  <div class="w-2/3 rounded-[15px] flex flex-col justify-between">
    <div class="h-full">
      <div
        class="bg-primary rounded-[15px] h-1/4 flex items-center justify-center hover:rotate-6 hover:scale-110 hover:border-2 hover:border-white"
      >
        <a href="#" class="font-medium capitalize">recent activities</a>
      </div>
      <div
        class="bg-white rounded-[15px] h-1/4 flex items-center justify-center mt-[1px] hover:rotate-6 hover:scale-110 hover:border-2 hover:border-primary"
      >
        <a href="#" class="font-medium capitalize">support us</a>
      </div>
    </div>
    <h3 class="text-slate-300 capitalize font-semibold text-sm p-5">
      dive deeper
    </h3>
  </div>
  <div class="w-1/2 bg-gray-500 rounded-[15px]">Navigation</div>
</div>
