---
import { Image } from "@astrojs/image/components";

import { Icon } from "astro-icon";
import Link from "./Link.astro";
import qrcode from "../images/frame.png";
import Card from "./Card.astro";

const navItem = [
  { name: "about", link: "#" },
  { name: "caretaker", link: "#" },
  { name: "contact", link: "#" },
  { name: "blog", link: "#" },
];
---

<div class="flex gap-[2px] h-1/2 rounded-[15px]">
  <Card classes="w-1/2 bg-gradient-to-br from-gray-200 to-gray-300" />

  <div class="text-main relative w-2/3 p-5 flex flex-col justify-between">
    <div class="absolute left-[90%]">
      <div class="pulse bg-primary">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
      </div>
    </div>
    <ul class="capitalize font-medium">
      {
        navItem.map(({ name, link }) => {
          return (
            <li>
              <a href={link}>{name}</a>
            </li>
          );
        })
      }
    </ul>

    <h3 class="capitalize font-semibold text-sm">explore more</h3>
  </div>
</div>
<div class="flex gap-[2px] h-1/2 pb-[2px]">
  <div class="w-2/3 rounded-[15px] flex flex-col justify-between">
    <div class="h-full">
      <Link
        text="recent activities"
        url="#"
        icon="cil:bolt-circle"
        style="bg-primary"
      />
      <Link
        text="support us"
        url="#"
        icon="mdi:access-point"
        style="bg-secondary"
      />
    </div>
    <h3 class="text-slate-300 capitalize font-semibold text-sm p-5">
      dive deeper
    </h3>
  </div>
  <Card
    style="bg-primary"
    classes="w-1/2 flex flex-col justify-center items-center"
  >
    <a href="www.qr-code-generator.com/" style="cursor:default" rel="nofollow"
    ></a>
    <Image
      src={qrcode}
      alt="QR Code"
      width={150}
      aspectRatio={1 / 1}
      class="rounded-[15px] object-cover"
    />
    <p class="font-semibold text-main capitalize text-center">stay connect</p>
  </Card>
</div>

<style>
  .pulse {
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 50%;
  }
  .pulse span {
    position: absolute;
    display: block;
    width: 100%;
    height: 100%;
    border-radius: inherit;
    background: inherit;
    opacity: 0.8;
    animation: pulse 5s ease-out infinite;
  }
  .pulse span:nth-child(2) {
    animation-delay: -1s;
  }
  .pulse span:nth-child(3) {
    animation-delay: -2s;
  }
  .pulse span:nth-child(4) {
    animation-delay: -3s;
  }
  @keyframes pulse {
    100% {
      transform: scale(4);
      opacity: 0;
    }
  }
</style>
