---
import Link from "./Link.astro";
---

<div class="z-9 rounded-[10px] w-1/2 flex flex-col justify-between">
  <div class="h-full">
    <Link
      text="futsal"
      url="#"
      height="h-1/4"
      icon="ic:baseline-sports-soccer"
      style="bg-white"
    />
    <Link
      text="basketball"
      url="#"
      height="h-1/4"
      icon="iconoir:basketball"
      style="bg-secondary"
    />
    <Link
      text="batminton"
      height="h-1/4"
      url="#"
      icon="mdi:badminton"
      style="bg-primary"
    />
    <Link
      text="table tennis"
      url="#"
      height="h-1/4"
      icon="maki:table-tennis"
      style="bg-white"
    />
  </div>
  <h3 class="p-[1em] capitalize">Sport division</h3>
</div>
